<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponents from "./components/CalComponents.vue";
import HelloWorldExample from "./components/HelloWorldExample.vue";
import HandlingUserInput from "./components/HandlingUserInput.vue";
import AttributeBindings from "./components/AttributeBindings.vue";
import ConditionAndLoops from "./components/ConditionAndLoops.vue";
import FromBinding from "./components/FromBinding.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponent></SimpleComponent>
    <br />
    <FromBinding></FromBinding>
    <br /><br />
    <ConditionAndLoops></ConditionAndLoops>
    <br />
    <AttributeBindings></AttributeBindings>
    <br />
    <HandlingUserInput></HandlingUserInput>
    <br />
    <CalComponents></CalComponents>
    <br />
    <HelloWorldExample></HelloWorldExample>
  </div>
</template>

<style scoped></style>
